/* You can add global styles to this file, and also import other style files */
@import "bootstrap.min.css";

.item-browser.modal-dialog {
  max-width: 90%;
  height: 90%;
}

.item-browser .modal-content {
  width: 100%;
  height: 100%;
}
