<div *ngIf="!$uniques.loading; else loadingSpinner" class="modal-body no-gutters">
  <div class="sidebar">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" (click)="clearFilter()">All</li>
    </ul>
    <h5 class="ml-2 my-2">Armour</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.HELMET)" (click)="filter = {itemType: ItemType.HELMET}">{{ItemType.HELMET}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.BODY)" (click)="filter = {itemType: ItemType.BODY}">{{ItemType.BODY}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.GLOVES)" (click)="filter = {itemType: ItemType.GLOVES}">{{ItemType.GLOVES}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.BOOTS)" (click)="filter = {itemType: ItemType.BOOTS}">{{ItemType.BOOTS}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.SHIELD)" (click)="filter = {itemType: ItemType.SHIELD}">{{ItemType.SHIELD}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.QUIVER)" (click)="filter = {itemType: ItemType.QUIVER}">{{ItemType.QUIVER}}</li>
    </ul>
    <h5 class="ml-2 my-2">Weapons</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.ONEHANDSWORD)" (click)="filter = {itemType: ItemType.ONEHANDSWORD}">{{ItemType.ONEHANDSWORD}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.TWOHANDSWORD)" (click)="filter = {itemType: ItemType.TWOHANDSWORD}">{{ItemType.TWOHANDSWORD}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.ONEHANDMACE)" (click)="filter = {itemType: ItemType.ONEHANDMACE}">{{ItemType.ONEHANDMACE}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.TWOHANDMACE)" (click)="filter = {itemType: ItemType.TWOHANDMACE}">{{ItemType.TWOHANDMACE}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.ONEHANDAXE)" (click)="filter = {itemType: ItemType.ONEHANDAXE}">{{ItemType.ONEHANDAXE}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.TWOHANDAXE)" (click)="filter = {itemType: ItemType.TWOHANDAXE}">{{ItemType.TWOHANDAXE}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.STAFF)" (click)="filter = {itemType: ItemType.STAFF}">{{ItemType.STAFF}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.DAGGER)" (click)="filter = {itemType: ItemType.DAGGER}">{{ItemType.DAGGER}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.WAND)" (click)="filter = {itemType: ItemType.WAND}">{{ItemType.WAND}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.BOW)" (click)="filter = {itemType: ItemType.BOW}">{{ItemType.BOW}}</li>
    </ul>
    <h5 class="ml-2 my-2">Jewelry</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.RING)" (click)="filter = {itemType: ItemType.RING}">{{ItemType.RING}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.AMULET)" (click)="filter = {itemType: ItemType.AMULET}">{{ItemType.AMULET}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.BELT)" (click)="filter = {itemType: ItemType.BELT}">{{ItemType.BELT}}</li>
    </ul>
    <h5 class="ml-2 my-2">Other</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.LIFEFLASK)" (click)="filter = {itemType: ItemType.LIFEFLASK}">{{ItemType.LIFEFLASK}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.MANALASK)" (click)="filter = {itemType: ItemType.MANALASK}">{{ItemType.MANALASK}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.HYBRIDFLASK)" (click)="filter = {itemType: ItemType.HYBRIDFLASK}">{{ItemType.HYBRIDFLASK}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.UTILITYFLASK)" (click)="filter = {itemType: ItemType.UTILITYFLASK}">{{ItemType.UTILITYFLASK}}</li>
      <li class="list-group-item" [class.disabled]="!validTypes.includes(ItemType.JEWEL)" (click)="filter = {itemType: ItemType.JEWEL}">{{ItemType.JEWEL}}</li>
    </ul>
  </div>
  <div class="col content">
    <div class="item-grid p-2">
      <exilebuilds-item-card *ngFor="let item of items | async" [item]="item" (click)=setSelectedItem(item) [selected]="item === selectedItem"
        class="item-grid-item"></exilebuilds-item-card>
    </div>
    <div class="toolbar container py-1 px-2">
      <div class="row">
        <div class="col-6 col-md-4">
          <div class="btn btn-info btn-block my-1" (click)="close()">Add to Build</div>
        </div>
        <div class="col-6 ml-auto d-flex justify-content-center align-items-center">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="searchText" (ngModelChange)="handleSearchChange()">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="info-panel">
    <div *ngIf="selectedItem; then itemInfoPanel else selectItemMessage"></div>
  </div>
</div>

<ng-template #itemInfoPanel>
  <div class="item-display">
    <h4>{{selectedItem.name}}</h4>
    <img [src]="selectedItem.icon" [alt]="selectedItem.name">
    <div class="mod mb-2">Requires Level {{selectedItem.levelReq}}, {{selectedItem.statReqs}}</div>
    <div class="line-separator"></div>
    <div class="mod-list mt-2">
      <div *ngFor="let mod of selectedItem.mods" class="mod">{{mod}}</div>
      <div *ngFor="let mod of selectedItem.variants[selectedVariant]" class="mod">{{mod}}</div>
    </div>
    <select *ngIf="(selectedItem.variants | keys).length > 0" name="variant" [(ngModel)]="selectedVariant" class="form-control my-2">
      <option *ngFor="let variant of selectedItem.variants | keys" [value]="variant">{{variant}}</option>
    </select>
  </div>
</ng-template>

<ng-template #selectItemMessage>
  <div class="h-100 d-flex align-items-center justify-content-center text-center">
    <h4>Select an item to view its stats</h4>
  </div>
</ng-template>

<ng-template #loadingSpinner>
  <div class="modal-body no-gutters p-1 d-flex align-items-center justify-content-center">
    <i class="fas fa-spinner fa-3x"></i>
  </div>
</ng-template>