:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-body {
  padding: 0;
  overflow: hidden;
  display: flex;
  border-radius: 0.5rem;
}

.sidebar {
  overflow-y: scroll;
  width: 200px;
}

.sidebar .list-group:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}

.info-panel {
  width: 300px;
  padding: 0.5rem;
}

.info-panel img {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.mod {
  font-size: 1rem;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.item-grid {
  display: grid;
  /* autoprefixer: off */
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 20px;
  justify-content: space-evenly;
  overflow-y: auto;
  width: 100%;
  flex-grow: 1;
}

.item-grid-item {
  cursor: pointer;
}

.item-display {
  text-align: center;
}

@keyframes rotate-360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-spinner {
  animation: rotate-360 1s linear infinite;
}

.disabled {
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
