:host {
  padding: 0;
}

:host(:hover) {
  cursor: pointer;
}

.card-img-top {
  object-fit: scale-down;
}

i {
  z-index: 100;
  position: absolute;
  margin: 0.25rem 0.25rem 0.5rem 0.25rem;
}

.fa-times {
  left: 0;
  top: 0;
}

.fa-ban {
  right: 0;
  bottom: 0;
}

.fa-ban:hover {
  color: var(--warning);
}

.fa-times:hover {
  color: var(--danger);
}
