<div class="container">
  <form [formGroup]="buildForm">
    <div class="form-group" formGroupName="info">
      <div class="form-group">
        <label for="name">Build Name</label>
        <input class="form-control" type="text" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="class">Class</label>
        <select class="form-control" id="class" formControlName="class">
          <optgroup #group *ngFor="let class of classCombos" [label]="class.primary">
            <option *ngFor="let secondary of class.secondary" [value]="secondary">{{secondary}}</option>
          </optgroup>
        </select>
      </div>
    </div>

    <div class="form-group" formGroupName="items">
      <h4>Items</h4>
      <div class="row justify-content-center">
        <div class="item-mannequin">
          <app-item-control formControlName="head" class="slot-head card bg-light border-warning" (click)="openItemBrowser('head')"></app-item-control>
          <app-item-control formControlName="body" class="slot-body card bg-light border-warning" (click)="openItemBrowser('body')"></app-item-control>
          <app-item-control formControlName="weapon1" class="slot-weapon1 card bg-light border-warning" (click)="openItemBrowser('weapon1')"></app-item-control>
          <app-item-control *ngIf="showWeapon2" formControlName="weapon2" class="slot-weapon2 card bg-light border-warning"
            (click)="openItemBrowser('weapon2')"></app-item-control>
          <app-item-control formControlName="gloves" class="slot-gloves card bg-light border-warning" (click)="openItemBrowser('gloves')"></app-item-control>
          <app-item-control formControlName="boots" class="slot-boots card bg-light border-warning" (click)="openItemBrowser('boots')"></app-item-control>
          <app-item-control formControlName="ring1" class="slot-ring1 card bg-light border-warning" (click)="openItemBrowser('ring1')"></app-item-control>
          <app-item-control formControlName="ring2" class="slot-ring2 card bg-light border-warning" (click)="openItemBrowser('ring2')"></app-item-control>
          <app-item-control formControlName="amulet" class="slot-amulet card bg-light border-warning" (click)="openItemBrowser('amulet')"></app-item-control>
          <app-item-control formControlName="belt" class="slot-belt card bg-light border-warning" (click)="openItemBrowser('belt')"></app-item-control>
        </div>
      </div>
    </div>

    <div class="form-group" formArrayName="skills">
      <h4>Skills</h4>
      <div *ngFor="let skillGroup of skills.controls; let group_i=index" [formGroupName]="group_i" class="form-group card bg-light border-info p-2">
        <div class="form-group">
          <label for="slotPicker">
            Slot
          </label>
          <select class="form-control" id="slotPicker" formControlName="slot">
            <option *ngFor="let slot of itemSlots | keys" [value]="slot">{{itemSlots[slot]}}</option>
          </select>
        </div>

        <div formArrayName="gems" class="row">
          <div *ngFor="let gem of skillGroup.get('gems').controls; let gem_i=index;" class="col-2">
            <app-item-control class="slot-gem card bg-secondary border-warning" [formControlName]="gem_i"></app-item-control>
          </div>
          <div *ngIf="skillGroup.get('gems').controls.length < 6" class="col-2">
            <div class="slot-gem w-100 h-100 d-flex justify-content-center align-items-center">
              <button (click)="addGem(group_i)" class="btn btn-info w-100 h-100"><i class="fas fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-success" (click)="addSkillGroup()">New Skill Group</button>
    </div>

    <button class="btn btn-primary" (click)="handleSubmit()">Submit</button>
  </form>
</div>