:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-body {
  padding: 0;
  overflow: hidden;
  display: flex;
}

.sidebar {
  overflow-y: scroll;
}

.sidebar .list-group:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.item-grid {
  display: grid;
  /* autoprefixer: off */
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 20px;
  justify-content: space-evenly;
  overflow-y: auto;
  width: 100%;
  flex-grow: 1;
}

.item-grid-item {
  cursor: pointer;
}

.card-img-top {
  height: 200px;
  object-fit: scale-down;
}

.card-footer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate-360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-spinner {
  animation: rotate-360 1s linear infinite;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
