.card {
  cursor: pointer;
  height: 100%;
}

.card-img-top {
  height: 200px;
  object-fit: scale-down;
}

.card-footer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
