<div class="modal-header">
  <h4>
    Item Browser
  </h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-2 sidebar">
      <div class="list-group">
        <h5 class="list-group-item list-group-item-action">Armour</h5>
        <div class="list-group">
          <h6 class="list-group-item list-group-item-action">Helm</h6>
          <h6 class="list-group-item list-group-item-action">Body Armour</h6>
          <h6 class="list-group-item list-group-item-action">Gloves</h6>
          <h6 class="list-group-item list-group-item-action">Boots</h6>
        </div>
        <h5 class="list-group-item list-group-item-action">Weapons</h5>
        <div class="list-group">
          <h6 class="list-group-item list-group-item-action">Helm</h6>
          <h6 class="list-group-item list-group-item-action">Body Armour</h6>
          <h6 class="list-group-item list-group-item-action">Gloves</h6>
          <h6 class="list-group-item list-group-item-action">Boots</h6>
        </div>
        <h5 class="list-group-item list-group-item-action">Jewelry</h5>
        <div class="list-group">
          <h6 class="list-group-item list-group-item-action">Helm</h6>
          <h6 class="list-group-item list-group-item-action">Body Armour</h6>
          <h6 class="list-group-item list-group-item-action">Gloves</h6>
          <h6 class="list-group-item list-group-item-action">Boots</h6>
        </div>
        <h5 class="list-group-item list-group-item-action">Other</h5>
        <div class="list-group">
          <h6 class="list-group-item list-group-item-action">Helm</h6>
          <h6 class="list-group-item list-group-item-action">Body Armour</h6>
          <h6 class="list-group-item list-group-item-action">Gloves</h6>
          <h6 class="list-group-item list-group-item-action">Boots</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-primary"></div>
    </div>
  </div>
</div>