/* You can add global styles to this file, and also import other style files */
@import "bootstrap.min.css";

.custom-large-modal .modal-dialog {
  min-width: 90%;
  max-height: 50%;
}

.custom-large-modal .modal-content {
  height: 100%;
  width: 100%;
}

.custom-large-modal .modal-content > ** {
  height: 100%;
}
